@model Portfolio.Models.GaleryPostModels

@{
    ViewBag.Title = "EditGaleryArt";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.title</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(m => m.imageUrl)
        @Html.HiddenFor(m => m.descUrl)
        <div class="form-group">
            <img src="@Model.imageUrl" alt="..." class="col-md-2" style="max-width:100%; max-height: 200px" />
            <div class="col-md-10">
                <input type="file" name="imgLocalPath" disabled />
                @Html.ValidationMessageFor(model => model.imageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @disabled ="disabled" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @try
                {
                    using (StreamReader sr = new StreamReader(Model.descUrl))
                    {
                        string line = sr.ReadToEnd();
                        <textarea name="txt" class="form-control" rows="5"> @line </textarea>
                    }
                }
                catch
                {
                    <textarea name="txt" class="form-control" rows="5">  </textarea>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default" href="@Url.Action("GaleryArtList", "Admin")" role="button">Back</a>
    <a class="btn btn-danger" href="@Url.Action("GaleryArtDelete", "Admin", new { id = Model.ID})" role="button">Delete</a>
</div>
