@model Portfolio.Models.GaleryPostModels

@{
    ViewBag.Title = "GaleryArtCreate";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>GaleryArtCreate</h2>

@using (Html.BeginForm("GaleryArtCreate", "Admin", FormMethod.Post, new { enctype = "multipart /form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create new Art</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"> Image:</span>
            <div class="col-md-10">
                <input type="file" name="imgLocalPath" disabled/>
                @Html.ValidationMessageFor(model => model.imageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"> Desc:</span>
            <div class="col-md-10">
                <textarea name="txt" class="form-control" rows="5">  </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default" href="@Url.Action("GaleryArtList", "Admin")" role="button">Back</a>
</div>
